<div class="col-12 col-md-6 col-xl-6 col-xxl-4 mb-3">

  <div class="mod-card d-flex" data-modref="<%=mod.modReference%>" data-mod-downloads="<%=mod.downloads%>" data-mod-updated="<%=new Date(mod.versions[0].created_at).getTime()%>" data-mod-installed="<%=(isInstalled)?1:0%>" data-mod-needs-update="<%=(!isInstalled || selectedMod == null)?0:(selectedMod.needsUpdate)?1:0%>">
    <div class="mod-image">
      <%if(mod.logoUrl == ""){%>
      <img src="https://ficsit.app/images/no_image.webp" alt="">
      <%}else{%>
      <img src="<%=mod.logoUrl%>" alt="">
      <%}%>
      <a href="https://ficsit.app/mod/<%=mod.modReference%>" target="_blank"><i class="fas fa-link"></i></a>
    </div>
    <div class="mod-info flex-shrink-1">
      <div class="d-flex flex-column">
        <a href="https://ficsit.app/mod/<%=mod.modReference%>" target="_blank">
          <h4><%=mod.modName%></h4>
        </a>
        <div class="d-flex flex-column flex-xl-row">
          <span class="badge bg-light border-light text-black mb-1 mb-xl-0 p-2">Latest Version: <%=mod.versions[0].version%></span>
          <%if(isInstalled){%>
          <%if(selectedMod.installedVersion != selectedMod.desiredVersion){%>
          <span class="badge bg-warning border-success text-black p-2 mb-1 mb-xl-0 ms-xl-2">Pending Version: <%=selectedMod.desiredVersion%></span>
          <%}else{%>
          <span class="badge bg-success border-success text-black p-2 mb-1 mb-xl-0 ms-xl-2">Installed Version: <%=selectedMod.installedVersion%></span>
          <%}%>
          <%}else if(selectedMod != null){%>
          <span class="badge bg-warning border-success text-black p-2 mb-1 mb-xl-0 ms-xl-2">Pending Version: <%=selectedMod.desiredVersion%></span>
          <%}%>
      </div>
    </div>
  </div>
  <div class="mod-buttons ms-auto d-flex flex-column">
    <%if(!isInstalled && selectedMod == null){%>
          <button class="btn btn-primary flex-grow-1 install-mod-btn" data-agentid="<%=agent._id%>" data-modid="<%=mod._id%>"><i class="fas fa-download"></i></button>
          <%}else{%>

          <button class="btn btn-light flex-grow-1 settings-mod-btn rounded-top rounded-bottom-0" data-agentid="<%=agent._id%>" data-modid="<%=mod._id%>"><i class="fas fa-cog"></i></button>
          <%if(isInstalled && selectedMod.needsUpdate){%>
          <button class="btn btn-warning update-mod-btn flex-grow-1 rounded-0" data-agentid="<%=agent._id%>" data-modid="<%=mod._id%>"><i class="fas fa-upload"></i></button>
          <%}%>
        <button class="btn btn-danger flex-grow-1 uninstall-mod-btn rounded-top-0 rounded-bottom" data-agentid="<%=agent._id%>" data-modid="<%=mod._id%>"><i class="fas fa-trash"></i></button>
          <%}%>
      </div>
    </div>
  </div>