<%- include('../includes/head-main.ejs') %>

<body>
  <div id="viewport" class="minimal">
    <%- include('../includes/navigation.ejs') %>
    <div id="content">
      <div class="container-fluid">
        <!-- BODY -->
        <div class="page-container" data-page="dashboard">
          <%- include('../includes/page-header.ejs') %>
          <div class="row">
            <%agents.forEach(agent=>{%>
            <div class="col-12 col-xl-6 mb-3">
              <div class="card shadow">
                <div class="card-header">
                  <h5><%=agent.agentName%> - Log Files</h5>
                </div>
                <div class="card-body">
                  <div class="card border-secondary mb-3">
                    <div class="card-header">
                      <a href="/dashboard/logs/download/<%=agent._id%>/SSMLog" class="btn btn-primary float-end">
                        <i class="fas fa-download"></i> SSM Log File
                      </a>
                      <h5>SSM Log</h5>
                    </div>
                    <div class="card-body">
                      <div class="log-viewer">
                        <% 
                                                const logInfo = agent.logInfo;
                                                if(logInfo != null){
                                                    if(logInfo.SSMAgentData.length>0){
                                                    logInfo.SSMAgentData.forEach(line=>{%>
                        <p><%=line%></p>

                        <%})}else{%>
                        <p>No log entries for this log type.</p>
                        <%}
                                                }
                                                %>
                      </div>
                    </div>
                  </div>

                  <div class="card border-secondary mb-3">
                    <div class="card-header">
                      <a href="/dashboard/logs/download/<%=agent._id%>/SteamLog" class="btn btn-primary float-end">
                        <i class="fas fa-download"></i> Steam Log File
                      </a>
                      <h5>Steam Log</h5>
                    </div>
                    <div class="card-body">
                      <div class="log-viewer">
                        <% 
                                                if(logInfo != null){
                                                    if(logInfo.SSMSteamCMDData.length>0){
                                                    logInfo.SSMSteamCMDData.forEach(line=>{%>
                        <p><%=line%></p>

                        <%})}else{%>
                        <p>No log entries for this log type.</p>
                        <%}
                                                }
                                                %>
                      </div>
                    </div>
                  </div>

                  <div class="card border-secondary mb-3">
                    <div class="card-header">
                      <a href="/dashboard/logs/download/<%=agent._id%>/SFLog" class="btn btn-primary float-end">
                        <i class="fas fa-download"></i> Satisfactory Log File
                      </a>
                      <h5>Satisfactory Log</h5>
                    </div>
                    <div class="card-body">
                      <div class="log-viewer">
                        <% 
                                                if(logInfo != null){
                                                    if(logInfo.FactoryGameData.length>0){
                                                    logInfo.FactoryGameData.forEach(line=>{%>
                        <p><%=line%></p>

                        <%})}else{%>
                        <p>No log entries for this log type.</p>
                        <%}
                                                }
                                                %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%})%>

          </div>

        </div>
      </div>

      <%- include('../includes/footer-main.ejs') %>
    </div>
  </div>
</body>