<%- include('../includes/head-main.ejs') %>

<body>
    <div id="viewport" class="minimal">
        <%- include('../includes/navigation.ejs') %>
        <div id="content">
            <div class="container-fluid">
                <!-- BODY -->
                <div class="page-container" data-page="dashboard">
                    <div class="row page-header">
                        <div class="col-12 col-md-9">
                            <h3 class="mb-3">
                                <%=pageTitle%> - <%=accountName%>
                            </h3>
                        </div>

                        <div class="col-12 col-md-3">
                            <div class="status-info-card blue">
                                <div class="status-info-card-main">
                                    Servers:
                                </div>
                                <div class="status-info-card-secondary">
                                    <span id="server-count"
                                        ><%= agents.length %></span
                                    >
                                </div>
                                <div class="status-info-card-icon">
                                    <i class="fas fa-server"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h5>Add New Notification</h5>
                                </div>
                                <div class="card-body">
                                    <i class="fac fa-webhook"></i>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header">
                                    <h5>Notification Settings</h5>
                                </div>
                                <div class="card-body">
                                    <%notificationSettings.forEach(setting=>{%>
                                        <form action="" method="post">
                                            <input type="hidden" name="inp_note_id" value="<%=setting._id%>">
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <%if(setting.notificationType == "webhook"){%>
                                                    <i class="fac fa-webhook" style="font-size:20px"></i>
                                                    <%}%>
                                                    <%if(setting.notificationType == "discord"){%>
                                                    <i class="fab fa-discord" style="font-size:20px"></i>
                                                    <%}%>
                                                    <%if(setting.notificationType == "email"){%>
                                                    <i class="fas fa-envelope" style="font-size:20px"></i>
                                                    <%}%>
                                                </span>
                                                <select name="sel_type" id="" class="form-select">
                                                    <option <%if(setting.notificationType == "webhook"){%>selected<%}%>>
                                                    Webhook
                                                    </option>
                                                    <option <%if(setting.notificationType == "discord"){%>selected<%}%>>Discord</option>
                                                    <option <%if(setting.notificationType == "email"){%>selected<%}%>>Email</option>
                                                </select>
                                                <input class="form-control" type="text" name="inp_url" id="inp_url" value="<%=setting.url%>">
                                                <button class="btn btn-primary"><i class="fas fa-save"></i> Update Settings</button>
                                            </div>
                                        </form>

                                    <%})%>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h5>Pending Notification Events</h5>
                                </div>
                                <div class="card-body">

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <%- include('../includes/footer-main.ejs') %>
        </div>
    </div>
</body>
