<div class="row">
  <div class="col-12 col-xl-3 mb-3">
    <div class="card border-secondary h-100 bg-glass">
      <div class="card-header">
        <h5>Server Information</h5>
      </div>
      <div class="card-body">
        <div class="row settings-row">
          <div class="col-12 col-md-6">
            <b class="settings-prop">Server Status:</b>
            <span class="settings-info">
              This is the servers status.</b>
            </span>
          </div>
          <div class="col-12 col-md-6">

            <%if(!agent.online){%>
            <span class="badge bg-danger"><i class="fa-solid fa-triangle-exclamation"></i> <b>Offline</b></span>
            <%}else{%>
            <span class="badge bg-success"><b>Online</b></span>
            <%if(agent.installed){%>
            <span class="badge bg-success"><b>Installed</b></span>
            <%}else{%>
            <span class="badge bg-warning"><b>Not Installed</b></span>
            <%}%>
              <%if(agent.running){%>
            <span class="badge bg-success"><b>Running</b></span>
            <%}else{%>
            <span class="badge bg-warning"><b>Not Running</b></span>
            <%}%>
              <%}%>
            <b id="agent-publicip"></b>
          </div>
        </div>
        <div class="row settings-row">
          <div class="col-12 col-md-6">
            <b class="settings-prop">Server Host:</b>
            <span class="settings-info">
              This is your Hostname to connect to the Server in game.</b>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <b id="agent-publicip"><%=agent.config.ip%></b>
          </div>
        </div>
        <div class="row settings-row">
          <div class="col-12 col-md-6">
            <b class="settings-prop">Connection Port:</b>
            <span class="settings-info">
              This is the port number of the SF server.</b>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <b id="agent-connectionport"><%=agent.sfPortNum%></b>
          </div>
        </div>
        <div class="row settings-row">
          <div class="col-12 col-md-6">
            <b class="settings-prop">Server Version:</b>
            <span class="settings-info">
              This is the agent/server version.</b>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <b id="sfserver-version"><%=agent.config.version%></b> /
            <b id="sfserver-version">v<%=latestVersion%></b>
          </div>
        </div>
        <div class="row settings-row">
          <div class="col-12 col-md-6">
            <b class="settings-prop">SF Server Version:</b>
            <span class="settings-info">
              This is the SF server version.</b>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <b id="sfserver-version"><%=agent.config.sfVersions.installed%></b> /
            <b id="sfserver-version"><%=agent.config.sfVersions.available%></b>
          </div>
        </div>
        <div class="row settings-row">
          <div class="col-12 col-md-6">
            <b class="settings-prop">Server API Key:</b>
            <span class="settings-info">
              This is the Servers API Key</b>
            </span>
          </div>
          <div class="col-12 col-md-6">
            <div class="d-flex align-items-center">
              <%
                    let apiKeyData = agent.apiKey.split("-")
                    const keyPart = apiKeyData[2];
                    const shortenedKeyPart = keyPart.substr(keyPart.length - 4);
                    const shortenedKey = `${apiKeyData[0]}-${apiKeyData[1]} - XXXX${shortenedKeyPart}`
                %>
              <b id="ssmagent-shortkey" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="<%=agent.apiKey%>"><%=shortenedKey%></b>
              <button class="btn btn-primary ms-2" id="ssmagent-copykey" data-key="<%=agent.apiKey%>"><i class="fas fa-copy"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-9">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card border-secondary mb-3 bg-glass">
          <div class="card-header">
            <h5>Satisfactory Server Settings</h5>
          </div>
          <div class="card-body">
            <form action="" method="post" class="form-horizontal">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input type="hidden" name="_ConfigSetting" value="sfsettings" />
              <div class="row settings-row">
                <div class="col-12 col-md-4">
                  <b class="settings-prop">Update Server On Start:</b>
                  <span class="settings-info">
                    Update Satisfactory server on start of SSM.
                  </span>
                </div>
                <div class="col-12 col-md-8">
                  <input name="inp_updatesfonstart" id="inp_updatesfonstart" type="checkbox" <%if(agent.config.checkForUpdatesOnStart){%>checked<%}%> data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-width="120" data-size="small">
                </div>
            </div>
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                      <b class="settings-prop">Auto Restart Server:</b>
                      <span class="settings-info">
                        Automatically restarts the SF server if it crashes.
                      </span>
                    </div>
                    <div class="col-12 col-md-8">
                      <input name="inp_autorestart" id="inp_autorestart" type="checkbox" <%if(agent.config.autoRestartServer){%>checked<%}%> data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-width="120" data-size="small">
                    </div>
                </div>
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Auto Pause Server:</b>
                        <span class="settings-info">
                        Automatically pause server if no players are online
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <input name="inp_autoPause" id="inp_autoPause" type="checkbox" <%if(agent.config.autoPause){%>checked<%}%> data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-width="120" data-size="small">
                    </div>
                </div>
                <div class="row settings-row">
                    <div class="col-12 col-md-4">
                        <b class="settings-prop">Auto Save On Disconnect:</b>
                        <span class="settings-info">
                        Automatically save server when player disconnects.
                        </span>
                    </div>
                    <div class="col-12 col-md-8">
                        <input name="inp_autoSaveOnDisconnect" id="inp_autoSaveOnDisconnect" type="checkbox" <%if(agent.config.autoSaveOnDisconnect){%>checked<%}%> data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-width="120" data-size="small">
                    </div>
                </div>
              <div class="row settings-row">
                <div class="col-12 col-md-4">
                  <b class="settings-prop">Max Players:</b>
                  <span class="settings-info">
                    Number of players that can join the server.
                  </span>
                </div>
                <div class="col-12 col-md-6">
                  <input type="range" class="form-range" id="inp_maxplayers" name="inp_maxplayers" min="4" max="500" value="<%=agent.config.maxPlayers%>">
                </div>

                <div class="col-12 col-md-2">
                  <span id="max-players-value">0 / 500</span>
                </div>
              </div>


              <div class="row settings-row">
                <div class="col-12 col-md-4">
                  <b class="settings-prop">Worker Threads:</b>
                  <span class="settings-info">
                    Number of worker threads to allocate to the server.
                  </span>
                </div>
                <div class="col-12 col-md-8">
                  <input type="number" value="<%=agent.config.workerThreads%>" id="inp_workerthreads" name="inp_workerthreads" class="form-control">
                </div>
              </div>
              <div class="row settings-row">
                <div class="col-12 col-md-4">
                  <b class="settings-prop">Version Branch</b>
                  <span class="settings-info">
                    Choose whether to use the Public Branch or Experimental.
                  </span>
                </div>
                <div class="col-12 col-md-8">
                  <input name="inp_sfbranch" id="inp_sfbranch" type="checkbox" <%if(agent.config.sfBranch == "experimental"){%>checked<%}%> data-on="Experimental" data-off="Public" data-onstyle="danger" data-offstyle="success" data-toggle="toggle" data-width="120" data-size="small">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success float-end" id="save-sf-settings"><i
                            class="fas fa-save"></i>
                        Update Settings</button>
                </div>
            </div>
        </form>
    </div>
          </div>
          
      </div>

      <div class="col-12 col-md-6">
        <div class="card border-danger mb-3 bg-glass">
            <div class="card-header">
              <h5>Server Options</h5>
            </div>
            <div class="card-body">
              <div class="row settings-row">
                <div class="col-12 col-md-4">
                  <b class="settings-prop">Install/Reinstall Server:</b>
                  <span class="settings-info">
                    Install or Reinstall Satisfactory Server
                  </span>
                </div>
                <div class="col-12 col-md-8">
                  <a href="/dashboard/serveraction/<%=agent._id%>/install">
                  <button class="btn btn-danger" id="settings-dangerarea-installsf"><i class="fas fa-download"></i> Install / Reinstall</button>
                  </a>

                </div>
              </div>
              <div class="row settings-row">
                <div class="col-12 col-md-4">
                  <b class="settings-prop">Update Server:</b>
                  <span class="settings-info">
                    Update Satisfactory Server
                  </span>
                </div>
                <div class="col-12 col-md-8">
                  <a href="/dashboard/serveraction/<%=agent._id%>/update">
                    <button class="btn btn-warning"><i class="fa-solid fa-circle-arrow-up"></i>
                      Update Server</button>
                  </a>
                </div>
              </div>
          </div>
        </div>
        <div class="card border-secondary mb-3 bg-glass">
          <div class="card-header">
            <h5>Backup Settings</h5>
          </div>
          <div class="card-body">
            <form action="" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input type="hidden" name="_ConfigSetting" value="backupsettings" />
              <div class="row settings-row">
                <div class="col-12 col-md-4">
                  <b class="settings-prop">Backup Interval:</b>
                  <span class="settings-info">
                    This is the interval between backups <b>(Hours)</b>
                  </span>
                </div>
                <div class="col-12 col-md-8">
                  <input type="number" name="inp_backupinterval" class="form-control" id="inp_backupinterval" value="<%=agent.config.backup.interval%>">
                </div>
              </div>
              <div class="row settings-row">
                <div class="col-12 col-md-4">
                  <b class="settings-prop">Backups To Keep:</b>
                  <span class="settings-info">
                    This is the number of backup to keep
                  </span>
                </div>
                <div class="col-12 col-md-8">
                  <input type="number" name="inp_backupkeep" class="form-control" id="inp_backupkeep" value="<%=agent.config.backup.keep%>">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-success float-end" id="save-backup-settings"><i class="fas fa-save"></i>
                    Update Settings</button>
                </div>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>