<div class="col-12 col-md-6 col-lg-6 col-xl-3">
  <div class="card mb-2" id="server-card-<%=agent._id%>">
    <div class="card-header">
      <a class="float-end" href="/dashboard/servers/<%=agent._id%>"><button class="btn btn-primary">
          <i class="fas fa-cog"></i></button></a>
      <h5><%=agent.agentName%></h5>
    </div>
    <div class="card-body">

      <% let statusText="Offline"; %>
      <% if(agent.status.online) statusText = "Online" %>
      <% if(agent.status.running) statusText = "Running" %>

      <% if(!agent.status.installed) statusText = "Not Installed" %>
      <% if(!agent.status.online) statusText = "Offline" %>

      <%
                let startBtn = "disabled";
                let stopBtn = "disabled";
                let killBtn = "disabled";

                if(!agent.status.running){
                    startBtn = "";
                }

                if(agent.status.running){
                    stopBtn = "";
                    killBtn = "";
                }

            const mods = agent.modConfig.selectedMods.length;
            %>

      <div class="d-grid gap-2 d-md-flex justify-content-strech">
        <%- include('../includes/status-info-card.ejs', {ClassColour:"blue",
    ClassID:"status", Title:"", Data:statusText, Icon:"fa-server"})
    %>
        <%- include('../includes/status-info-card.ejs',
     {ClassColour:"orange", ClassID:"users", Title:"Players",
     Data:agent.mapData.players.filter(p=>p.online).length, Icon:"fa-user"}) %>
        <%- include('../includes/status-info-card.ejs',
      {ClassColour:"green", ClassID:"mods", Title:"Mods",
      Data:mods,Icon:"fa-pencil-ruler"}) %>
      </div>

      <hr />
      <label class="mb-1">CPU: </label>
      <div class="position-relative">
        <div class="progress" style="height: 30px" aria-valuenow="<%=agent.status.cpu%>" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%=agent.status.cpu%>%;"></div>
        </div>
        <div class="text-center position-absolute top-50 start-50 translate-middle"><%=agent.status.cpu.toFixed(0)%> %</div>
      </div>

      <label class="mb-1 mt-3">RAM: </label>
      <div class="position-relative">
        <div class="progress" style="height: 30px" aria-valuenow="<%=agent.status.ram%>" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%=agent.status.ram%>%;"></div>
        </div>
        <div class="text-center position-absolute top-50 start-50 translate-middle"><%=agent.status.ram.toFixed(0)%> %</div>
      </div>
      <hr />

      <% if(locals.message){ const messageData = JSON.parse(message); 
        if(messageData.agentId == agent._id){%>
      <div class="alert alert-success">
        <%=messageData.message%>
      </div>
      <%}}%>

      <div class="d-flex flex-column flex-md-row">
        <a href="/dashboard/serveraction/<%=agent._id%>/start" <% if(startBtn == "disabled"){%>style="pointer-events: none" <%}%> class="flex-fill mt-2 mt-md-0 me-md-2">
                    <button class='btn btn-success server-action-btn w-100' <%=startBtn%>><i class="fas fa-play me-1"></i>Start Server</button>
        </a>
        <a href="/dashboard/serveraction/<%=agent._id%>/stop" <% if(stopBtn == "disabled"){%>style="pointer-events: none" <%}%> class="flex-fill mt-2  mt-md-0">
                    <button class='btn btn-warning server-action-btn w-100' <%=stopBtn%>><i class="fas fa-stop me-1"></i>Stop Server</button>
        </a>
        <a href="/dashboard/serveraction/<%=agent._id%>/kill" <% if(killBtn == "disabled"){%>style="pointer-events: none" <%}%> class="flex-fill mt-2  mt-md-0 ms-md-2">
                    <button class='btn btn-danger server-action-btn w-100' <%=killBtn%>><i class="fas fa-skull-crossbones me-1"></i>Kill Server</button>
        </a>
      </div>
    </div>
  </div>
</div>