<div class="card card-inner server-card" data-agentname="<%=agent.agentName%>" data-online="<%=agent.status.online?1:0%>" data-installed="<%=agent.status.installed?1:0%>">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <a href="/dashboard/servers/delete/<%=agent._id%>" class="btn btn-danger should-confirm-btn float-end" style="height:32px" data-confirm-title="Delete Agent Confirmation">
          <i class="fas fa-trash"></i>
        </a>
        <a href="/dashboard/servers/<%=agent._id%>" class="btn btn-primary float-end me-2" style="height:32px">
          <i class="fas fa-cog"></i>
        </a>

        <h5>
          <%if(agent.status.online){%>
          <i class="fas fa-circle-check text-success pe-2"></i>
          <%} else {%>
          <i class="fas fa-circle-xmark text-danger pe-2"></i>
          <%}%>
            <%=agent.agentName%>
        </h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <span class="badge bg-dark border-dark p-2">
          <%if(agent.status.installed){%>
          <i class="fas fa-circle-check text-success pe-2"></i> Installed
          <%} else {%>
          <i class="fas fa-circle-xmark text-danger pe-2"></i> Not Installed
          <%}%>
        </span>
        <%if(agent.config.version){%>
          <span class="badge bg-dark border-dark p-2">
            v<%=agent.config.version.replace("v","")%> / v<%=latestVersion%>
          </span>
          <span class="badge bg-dark border-dark p-2">
            <%=agent.serverConfig.branch%>
          </span>
          <%}%>
      </div>
    </div>
  </div>
</div>