<%- include('../includes/head.ejs') %>

<body>
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-12">
        <div class="logo"><img src="/public/images/ssm_logo_new_256.svg" /></div>
        <div class="login-card-wrapper">
          <div class="card border-dark login-card shadow">
            <div class="card-body">
              <h4 class="card-title">Setup 2FA with your authenticator app.</h4>
              <% if(locals.errorMessage){ const errorMessageData = JSON.parse(errorMessage);%>
              <div class="alert alert-danger text-center fw-bold fs-6">
                <%=errorMessageData.message%>
              </div>
              <%}%>
            <img style="display: block; margin: auto" src="<%=QRCODE%>" />

              <form action="/2fa/setup" method="post" class="form-horizontal">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="form-group mb-3">
                  <input class="form-control mt-3 text-center" type="text" name="token" id="token" inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code" placeholder="123456" />
                </div>
                <div class="d-grid">
                  <button class="btn btn-primary" type="submit">
                    Verify Token
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../includes/footer.ejs') %>

  </div>
</body>