<%- include('../includes/head.ejs') %>

<body>
  <div class="container-fluid main-container">

    <div class="row">
      <div class="col-12">
        <div class="logo"><img src="/public/images/ssm_logo_new_256.svg" /></div>
        <div class="login-card-wrapper">
          <div class="card border-dark mb-3 login-card shadow">
            <div class="card-body">
              <h4 class="card-title">Signup For A SSM Cloud Account</h4>
              <div class="error-content"><%=errorMessage%></div>
              <form class="form-horizontal signup-form" method="post" action="">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

                <fieldset>
                  <h6>Account Details:</h6>
                  <p>
                    Your SSM cloud account contains your users, agents and api
                    keys.
                  </p>
                  <div class="form-group required">
                    <label class="col-12 control-label" for="accountName">Account Name:</label>
                    <input id="accountName" name="accountName" placeholder="" class="form-control input-md" type="text" autofocus />
                  </div>
                </fieldset>

                <fieldset>
                  <h6 class="mt-3">User Details:</h6>
                  <p>
                    This is where you will create your first user to login and
                    will be attached to your account.
                  </p>
                  <div class="form-group required mb-3">
                    <label class="col-12 control-label" for="email">Email Address:</label>
                    <input id="email" name="email" placeholder="" class="form-control input-md" type="email" />
                  </div>

                  <div class="form-group required mb-3">
                    <label class="col-12 control-label" for="password">Password:</label>
                    <input id="password" name="password" placeholder="" class="form-control input-md" type="password" />
                  </div>
                  <div class="form-group required mb-3">
                    <label class="col-12 control-label" for="confirmPassword">Confirm Password:</label>
                    <input id="confirmPassword" name="confirmPassword" placeholder="" class="form-control input-md" type="password" />
                  </div>
                  <%if(locals.enableHcaptcha){%>
                  <div class="mt-2 text-center">
                    <div class="h-captcha" data-sitekey="<%=locals.hcaptchaSiteKey%>"></div>
                  </div>
                  <%}%>
            <button class="btn btn-primary mt-3">
              Sign Up
            </button>
        
      </fieldset>
    </form>
  </div>
</div>
</div>
</div>
</div>

<%- include('../includes/footer.ejs') %>

            </div>
</body>


<script defer>
  function detectColorScheme() {
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      // Dark mode
      console.log('Dark mode is enabled');
      return 'dark';
    } else {
      // Light mode
      console.log('Light mode is enabled');
      return 'light';
    }
  }



  $(document).ready(() => {
    const currentScheme = detectColorScheme();
    $("body").addClass(currentScheme);
  });
</script>