<%- include('../includes/head-main.ejs') %>


<body>
  <div id="viewport" class="minimal">
    <%- include('../includes/navigation.ejs') %>
    <div id="content">
      <div class="container-fluid">
        <!-- BODY -->
        <div class="page-container" data-page="dashboard">

          <%- include('../includes/page-header.ejs') %>
          <div id="agents-wrapper">
            <% if(agents.length > 0){ %>
            <div class="row">
              <% agents.forEach(agent => { %>
              <%- include('../includes/dashboard-agent.ejs', {agent}) %>
              <%})%>
            </div>
            <%} else {%>
            <div class="alert alert-info">
              It looks there is no servers set up yet! Go to the <strong>Servers</strong> page to set up your first server.
            </div>
            <%}%>
                    </div>

                </div>
            </div>

            <%- include('../includes/footer-main.ejs') %>
          </div>
        </div>
</body>