<%- include('../includes/head-main.ejs') %>

<body>
  <div id="viewport" class="minimal">
    <%- include('../includes/navigation.ejs') %>
    <div id="content">
      <div class="container-fluid">
        <!-- BODY -->
        <div class="page-container" data-page="dashboard">
          <%- include('../includes/page-header.ejs') %>
          <div class="row">
            <div class="col-12 col-xl-3">
              <div class="card border-secondary mb-3">
                <div class="card-header">
                  <h5>Create New Server</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <p>
                        To Create a new SSM server click the button below and follow the install wizard.
                      </p>
                      <form action="" method="post">
                        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" />
                      </form>
                      <a href="" class="btn btn-success" id="add-server-btn"><i class="fas fa-plus"></i> Create New Server</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-9">
              <div class="card border-secondary mb-3">
                <div class="card-header">
                  <div class="row">
                    <div class="col-12 col-md-6 col-lg-7 col-xl-8">
                      <h5>Server List</h5>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                      <div class="input-group">
                        <input type="text" class="form-control server-search" placeholder="Search Servers" name="" id="">
                        <div class="btn-group" id="server-filter">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-filter"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li class="dropdown-item">
                              <div class="form-check form-switch">
                                <input class="form-check-input server-filter-checkbox" role="switch" type="checkbox" value="" id="server-filter-online" checked>
                                <label class="form-check-label" for="server-filter-online">
                                  Online
                                </label>
                              </div>
                            </li>
                            <li class="dropdown-item">
                              <div class="form-check form-switch">
                                <input class="form-check-input server-filter-checkbox" role="switch" type="checkbox" value="" id="server-filter-installed" checked>
                                <label class="form-check-label" for="server-filter-installed">
                                  Installed
                                </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
                <div class="card-body">
                  <% if(locals.message){ const messageData = JSON.parse(message); 
                                        if(messageData.section == "serverlist"){%>
                  <div class=" alert alert-success">
                    <%=messageData.message%>
                  </div>
                  <%}}%>

                  <% if(locals.errorMessage){ const errorMessageData = JSON.parse(errorMessage); 
                    if(errorMessageData.section == "serverlist"){%>
                  <div class="alert alert-danger">
                    <%=errorMessageData.message%>
                  </div>
                  <%}}%>



                  <% if(agents.length > 0){ %>
                  <div class="row" id="serverlist-wrapper">
                    <% agents.forEach(agent => { %>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-3">
                      <%- include("../includes/server-card.ejs", {agent})%>
                    </div>
                    <%})%>
                  </div>
                  <%}%>
                                </div>
                            </div>
            </div>
          </div>



        </div>
      </div>

      <%- include('../includes/footer-main.ejs') %>
                </div>
              </div>
</body>